{%extends "pokedex/layout.html"%}
{%block body%}
    <h1>{{poke.name}} Id: {{poke.number}}</h1>

    <p>{{poke.name}} Id: {{poke.number}}</p>

    <img src="{{poke.picture}}" style="width: 100px;">
    <ul>
        <li>Health: {{stats.health}}</li>
        <li>Attack: {{stats.attack}}</li>
        <li>Defence: {{stats.defence}}</li>
        <li>Sp Attack: {{stats.sp_attack}}</li>
        <li>Sp Defence: {{stats.sp_defence}}</li>
        <li>Speed: {{stats.speed}}</li>
    </ul>

    <ul> 
        {%for move in moves%}

        <li> {{move.name}} ACC: {{move.accuracy}} PW: {{move.power}} PP: {{move.pp}} {{move.description}}</li>
        {%endfor%}
    </ul>

{%endblock%}